.form{
    display: contents;
    text-align: center;
}
h1{
    display: flex;
    text-align: center;
    text-decoration: overline;
text-transform: uppercase;
}
input text phone{
    text-transform: uppercase;
    height: 20px;
}
body{
    background-color: white;
    text-indent: 12px;
    font-family: 'Times New Roman', Times, serif;
}